@font-face {
    font-family: 'Infinitely' ;
    src: url('fontes/Infinitely Free.otf') format('opentype') url('fontes/Infinitely Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    font-family:'Infinitely', Times, serif;
    font-size: 3em;
    font-weight: normal;
}